{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-detail-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <hr class="w-50">
                <h2 class="head-text mb-2">Unsubscribe from out News-letter!</h2>
                <hr class="w-50">

                <p class="small text-muted body-text">
                    To unsubscribe simply enter your email address below! It's as easy as that!
                </p>


                <div class="card rounded-0 border-dark ">
                    <div class="card-body text-center mb-3">
                        <form action="{% url 'unsubscribe' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <label for="email"></label>
                                <input type="email" name="email" class="form-control rounded-0 w-100"
                                    placeholder="Enter Your Email" id="email">
                            </div>
                            <div class="form-group d-flex">
                                <a href="{% url 'home' %}" class="form-control btn btn-gold-blk head-text w-50 rounded-0 mr-2">Home</a>
                                <input type="submit" value="Unsubscribe" class="form-control btn btn-gold-blk head-text w-50">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}