{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-6 ml-4 mb-5 cta-text p-3">
                <h1 class="head-text font-italic mb-5 text-white">Honey has never tasted this good!</h1>
                <a href="{% url 'products' %}" class="btn btn-lg btn-gold-blk rounded-0 head-text">Shop Now</a>
            </div>
        </div>
    </div>
</section>

<section id="sec-a" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center sec-a mb-5 mt-5">
                <span class="mt-4 mb-4"><i class="fa-brands fa-pagelines gold-text"></i></span>
                <p class="lead head-text sec-a-p gold-text">Natural</p>
                <p class="body-text text-white">All our honey is 100% natural, no blends, no nonsense!</p>
            </div>
            <div class="col-md-4 text-center sec-a mb-5 mt-5">
                <span class="mt-4 mb-4"><i class="fa-solid fa-recycle gold-text"></i></span>
                <p class="lead head-text sec-a-p gold-text">Sustainable</p>
                <p class="body-text text-white">We Pride ourselves in providing the best quality honey while making sure
                    our eco-system is happy and healthy!</p>
            </div>
            <div class="col-md-4 text-center sec-a mb-5 mt-5">
                <span class="mt-4 mb-4"><i class="fa-solid fa-location-dot gold-text"></i></span>
                <p class="lead head-text sec-a-p gold-text">Local</p>
                <p class="body-text text-white">All honey is sourced naturally in Ireland, Co.Meath</p>
            </div>
        </div>

    </div>
</section>

<section id="sec-b">
    <div class="container-fluid">
        <div class="row toh-text">
            <div class="col-md-6 m-0 p-0">
                <img src="{{ MEDIA_URL }}hh-products.jpg" class="img-fluid w-100">
            </div>
            <div class="col-md-6 text-center w-auto my-auto">
                <h2 class="head-text py-3 text-light font-italic">
                    "A Taste of Haven..."
                </h2>
                <p class="body-text py-3 px-4 text-light">
                    Browse our range of honey products! Ranging from honey to accessories to clothing!
                    Anything honey related we've got it!
                </p>
                <h3 class="pb-3">
                    <a href="{% url 'products' %}" class="btn btn-lg btn-gold-blk head-text rounded-0">Shop Now!</a>
                </h3>
            </div>
        </div>
    </div>
</section>

<section id="sec-c">
    <div class="container-fluid bg-dark">
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide col-md-8 my-auto pt-4" data-ride="carousel">
                <div class="carousel-inner w-100 text-center">
                    <div class="carousel-item active text-light">
                        <h3 class="body-text font-italic">"Amazing quality and taste of Honey I recommend!"</h3>
                        <br>
                        <p class="head-text">~Charlene Derwin~</p>
                        <p class="gold-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></p>
                    </div>
                    <div class="carousel-item text-light">
                        <h3 class="body-text font-italic">"Amazing range of sustainable products"</h3>
                        <br>
                        <p class="head-text">~Maksim Burak~</p>
                        <p class="gold-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star-half"></i></p>
                    </div>
                    <div class="carousel-item text-light">
                        <h3 class="body-text font-italic">"Superb delivery times, and the honey tastes amazing!"</h3>
                        <br>
                        <p class="head-text">~Danny & Ingrid~</p>
                        <p class="gold-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="col-md-4 p-0 m-0">
                <img src="{{ MEDIA_URL }}honey-harvest.jpg" alt="honey-harvest" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="sec-d" class="pb-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center my-5 mx-0">
                <h1 class="head-text">
                    Browse Our Honey
                </h1>
                <hr class="w-50">
            </div>
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 p-2 mx-0">
                <div class="card card-animation border-0 text-center">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid"
                            style="height: 150px; width: 150px;">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}no-img.png" alt="{{ product.name }}"
                        style="height: 150px; width: 150px;">
                    </a>
                    {% endif %}
                    <div class="card-body head-text pb-0">
                        <p>{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white border-0  pt-0 mb-1">
                        <div class="row">
                            <div class="col">
                                <p class="lead body-text">€{{ product.price }}</p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a href="{% url 'products' %}?category={{ product.category.name }}"
                                        class="text-muted">
                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                {% if product.rating %}
                                <small class="muted body-text"><i class="fas fa-star mr-1 gold-text"></i> {{ product.rating }} / 5</small>
                                {% else %}
                                <small class="text-muted body-text">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <div class="tester">test</div>
</section>

{% endblock %}

{% block postloadjs %}
<script>

    const nav = document.querySelector('.navbar');
    
    window.addEventListener('scroll', () => {
        if (window.scrollY >= 1) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 1) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });

    document.querySelector('.navbar-toggler').addEventListener('click', function() {
        if(this.getAttribute('aria-expanded')) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } 
    });

    // var docWidth = document.documentElement.offsetWidth;

    // [].forEach.call(
    // document.querySelectorAll('*'),
    // function(el) {
    //     if (el.offsetWidth > docWidth) {
    //     console.log(el);
    //     }
    // }
    // );

    

</script>
<script type="text/javascript">
    $(document).ready(function () {
        var submitIcon = $('.searchbar-icon');
        var inputArea = $('.searchbar-input');
        var searchBar = $('.searchbar');
        var isExpanded = false;

        submitIcon.click(function () {
            if (isExpanded == false) {
                searchBar.addClass('searchbar-open');
                inputArea.focus();
                isExpanded = true;
            } else {
                searchBar.removeClass('searchbar-open');
                inputArea.focusout();
                isExpanded = false;
            }
        });


    })
</script>
{% endblock %}