{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock%}

{% block content %}
<div class="nav-calc"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="head-text mb-2">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="body-text text-muted">Default Devlivery Info:</p>
            <form action="{% url 'profile' %}" class="mt-2" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn rounded-0 body-text float-right">Update Info</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="body-text text-muted">Your Orders:</p>
            {{ orders }}
        </div>
    </div>
</div>


</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
<script type="text/javascript">
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });
</script>
{% endblock %}