{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock%}

{% block content %}
<div class="login-detail-wrapper d-flex align-items-center ">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="head-text mb-2">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="body-text text-muted">Default Devlivery Info:</p>
                <form action="{% url 'profile' %}" class="mt-2" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn rounded-0 head-text btn-gold-blk float-right">Update Info</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="body-text text-muted">Your Orders:</p>
                <div class="order-history table-responsive">
                    <table class="table-sm table-borderless body-text">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                </td>
                                <td>
                                    {{ order.date }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {% if item.product.has_sizes %}Size: {{ item.produt.size|upper }}{% endif %}{{ item.product.name }} x {{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    €{{ order.grand_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
<script>
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });

    document.querySelector('.navbar-toggler').addEventListener('click', function() {
        if(this.getAttribute('aria-expanded')) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } 
    });
</script>
{% endblock %}