{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock%}

{% block content %}
<div class="nav-calc"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="head-text mb-2">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-2">
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-2 mt-1 small text-muted body-text">
                        Item
                    </p>
                </div>
                <div class="col-7 text-right">
                    <p class="mb-2 mt-1 small text-muted body-text">
                        Total
                    </p>
                </div>
            </div>
            {% for itm in bag_items %}
            <div class="row">
                <div class="col-2 mb-2">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="w-100">
                        {% else %}
                            <img src="{{ MEDIA_URL }}no-img.png" alt="{{ product.name }}" class="w-100">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0 body-text">{{ item.product.name }}</p>
                    <p class="my-0 body-text small"> Size: {% if product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                    <p class="my-0 body-text small text-muted"> Qty: {{ item.quantity }}</p>
                </div>
                <!-- bag tools for calc calc_subtotal:item.quantity -->
                <div class="col-3 text-right">
                    <p class="small body-text text-muted">€{{ item.product.price}}</p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <div class="row text-right body-text">
                <div class="col-7 offset-2">
                    <p class="my-1">Order Total:</p>
                    <p class="my-1">Delivery:</p>
                    <p class="my-1">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-1">€{{ total | floatformat:2 }</p>
                    <p class="my-1">€{{ delivery | floatformat:2 }}</p>
                    <p class="my-1"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="body-text text-muted">
                Please Complete the form before purchase!
            </p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded mx-3 mb-4">
                    <legend class="fieldset-label body-text">Info:</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded mx-3 mb-4">
                    <legend class="fieldset-label body-text">Delivery:</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div class="form-check form-check-inline float-right">
                        {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label body-text">Save delivery Info!</label>
                        <input type="checkbox" class="form-check-input ml-2 mr-0" id="id-save-info" name="save-info" checked>
                        {% else %}
                        <label for="id-save-info" class="form-check-label body-text">
                            <a href="{% url 'account_signup' %}">Create an Account</a>or
                            <a href="{% url 'account_login' %}">Login</a> to save this info!
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="rounded mx-3">
                    <legend class="fieldset-label body-text small px-2 w-auto">Payment</legend>
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3" id="card-errors" role="alert"></div>
                </fieldset>

                <div class="submit-button text-right">
                    <a href="{% url 'view_bag' %}" class="btn">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="body-text">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn">
                        <span class="body-text">Complete Order</span>
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small">
                        <span>
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your Card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });
</script>
{% endblock %}