{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock%}

{% block content %}
<div class="nav-calc"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="head-text mb-2">Thank you for your purchase!</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p2 border">

                <!-- Order Info Section -->
                <div class="row">
                    <div class="col">
                        <small class="body-text text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Order No.:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-right">
                        <p class="body-text small">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-right">
                        <p class="body-text">{{ order.date }}</p>
                    </div>
                </div>

                <!-- order details section -->
                <div class="row">
                    <div class="col">
                        <small class="body-text text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text small">{{ item.product.name }}{% if item.product_size %} - Size: {{
                            item.product.size|upper }}{% endif %}</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text small">{{ order.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <!-- Delivering To section -->
                <div class="row">
                    <div class="col">
                        <small class="body-text text-muted">Delivering To:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.full_name}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Street Address 1:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Street Address 2:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">County:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.county }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Town / City:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if post_code %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Eircode:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.postalcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Country:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Phone No.:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.phone_number }}</p>
                    </div>
                </div>

                <!-- Billing Info section-->
                <div class="row">
                    <div class="col">
                        <small class="body-text text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Order Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Delivery:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="body-text">Grand_total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="body-text">{{ order.grand_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7 text-right">
                        {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn rounded-0 my-2">
                            <span>
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="body-text">
                                Back to profile
                            </span>
                        </a>
                        {% else %}
                        <a href="{% url 'products' %}" class="btn rounded-0 my-2">
                            <span>
                                <i class="fas fa-shopping-bag"></i>
                            </span>
                            <span class="body-text">
                                Continue Shopping
                            </span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });
</script>
{% endblock %}