.hero-bee {
    height: calc(100vh + 56px);
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
}

.navbar {
    transition: 0.5s;
}

.nav-scroll {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}