/* ------------------------------------root */
:root {
    --theme1: #fff;
    --theme2: #000;
    --theme3: #FFD700;
    --drkgld: #ac9020;
    --grey: #5A5A5A;
}

/* ------------------------------------custom helper classes */
.head-text {
    font-family: 'Abril Fatface',
        cursive;
}

.body-text {
    font-family: 'Lato',
        sans-serif;
}

.gold-text {
    color: var(--drkgld);
}

::placeholder {
    font-family:'Lato',
        sans-serif;;
}

/* .nav-calc {
    margin-top: 111px; 
    height: 100vh;
}  */

.btn-gold-blk {
    background: var(--theme3);
    color: #000;
}

.btn-blk-gold{
    background: var(--theme2);
    color: var(--theme3);
}
/* ------------------------------------Base-styling */
.nav {
    width: auto;
}


.navbar {
    transition: 0.5s;

}


.nav-scroll {
    background-color: black;
    color: var(--theme1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-family: 'Abril Fatface',
        cursive;
    font-size: 46px;
}

.nav-link {
    font-family: 'Lato',
        sans-serif;
    font-size: 20px;
}

.searchbar {
    position: relative;
    min-width: 50px;
    width: 0%;
    height: 50px;
    float: right;
    overflow: hidden;
    transition: width 0.3s;
}

.searchbar-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: var(--theme1);
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    color: var(--theme2);
}

.searchbar-icon,
.searchbar-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    font-family: 'Lato',
        sans-serif;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: var(--theme1);
    background: var(--theme2);
}

.searchbar-open {
    width: 100%;
}

.messages-container {
    position: absolute;
    top: 92px;
    right: 22px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ------------------------------------Footer-styling */

.footer-head {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.list-unstyled {
    color: var(--drkgld);
}

.list-unstyled li a{
    color: var(--drkgld);
}

.list-unstyled li a:hover{
    color: var(--theme1);
    text-decoration: none;
    transition: .5s;
}

.socials-icon{
    font-size: 25px;
    color: var(--drkgld);
}

.social-seg a:hover {
    color: var(--theme1);
    transition: .5s;
}

.subscribe-footer .form-group input {
    border-radius: 0;
    border: none;
}

.subscribe-footer .form-group .footer-submit {
    display: block;
    width: 160px;
    font-size: 16px;
    font-family: 'Lato',
        sans-serif;
    color: var(--theme1);
    background-color: var(--theme2);
    border: none;
}



.logo-footer {
    height: 150px;
}

/* ------------------------------------Index-styling */
.hero{
    background-image: url('/media/honey-bee.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;

    height: 100vh;

    display: flex;
    align-items: center;
}


.cta-text {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#sec-a i {
    font-size: 30px;
}

.sec-a-p {
    font-size:
        30px;
}

.sec-b-height {
    height: 400px;
}

.product-image {
    background-image: url('/media/honey-haven-products.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toh-text {
    background: var(--grey);
}

.card-animation:hover{
    animation-name: card-zoom;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@keyframes card-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}
/* ------------------------------------Products-styling */
a.category-badge > span.badge:hover {
    background: var(--theme2) !important;
    color: var(--theme1) !important;
}

.back-to-top-button {
    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    margin-top: calc(100vh + 60px);
    margin-bottom: 10px;

    text-decoration: none;
    padding: 10px;
    color: var(--theme2);
    background: var(--theme3);
    white-space: nowrap;
}

.back-to-top-button:hover{
    background: var(--theme2);
    color: var(--theme3);
    transition: 0.5s;
    text-decoration: none;
}


html,
body {
    scroll-behavior: smooth;
}

.product-wrapper{
    height: 100%;
    margin-top: 111px;
}

.product-detail-wrapper {
    height: 100vh;
}

/* ------------------------------------Buttons and Inputs*/
.shop-now-btn {
    background: var(--theme2);
    color: var(--theme1);
}

.shop-now-btn:hover{
    background: white;
    color: #000;
}

.btn:hover {
    color: var(--theme1) !important;
    background: var(--theme2);
}

.decrement-qty,
.increment-qty {
    color: var(--theme3);
    background: var(--theme2);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* ------------------------------------Product styling */

.bag-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background: red;
    border-color: red;
    border-radius: 0;
}
/* ------------------------------------Allauth styling */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input {
    border-color: var(--theme2);
    border-radius: 0;
    font-family: 'Lato',sans-serif;
}

.allauth-form-inner-content input::placeholder {
    font-family: 'Lato',sans-serif;
    color: #aab7c4;
}

.login-detail-wrapper{
    height: 100vh;
}

/* ------------------------------------Media Queries*/

@media only screen and (min-width:320px) and (max-width:768px) {
    .navbar-brand {
        font-size: 20px;
    }

    .sb-cont{
        padding-top: 0.5em;
        margin-right: 0;
    }

    .product-detail-wrapper {
        height: 100vh;
    }
    
    .login-detail-wrapper {
        height: 100vh;
        width: 100vw;
        /* margin-top: 111px; */
        text-align: center;
    }

    .mobile-tab-width{
        width: 100% !important;
    }

    .messages-container {
        right: 18px;
        left: 18px;
    }
}