{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="login-detail-wrapper d-flex align-items-center justify-content-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
  
          <hr class="w-50">
          <h2 class="head-text mb-2">Whoops! Page not found - 404</h2>
          <hr class="w-50">
          
          <p class="body-text">The page you were looking for Was not found!</p>

          <a href="{% url 'home' %}" class="btn btn-gold-blk head-text pt-2 rounded-0">Back to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}