{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="login-detail-wrapper d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">

                <hr class="w-50">
                <h2 class="head-text mb-2">{% trans "Change Password" %}</h2>
                <hr class="w-50">

                <p class="body-text">{% trans 'Your password is now changed.' %}</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}

