{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- BootStrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8003b6effc.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Honey Haven {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Honey Haven</a>
        <button class="navbar-toggler P-0" type="button" data-toggle="collapse" id="toggler" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <div class="container">
                    <form class="form-inline searchbar ml-auto" method="GET" action="{% url 'products' %}">
                        <input type="search" placeholder="Search Items" name="q" class="searchbar-input" required>
                        <input type="submit" class="searchbar-submit" value="GO">
                        <span class="searchbar-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </form>
                </div>
                <li class="nav-item active">
                    <a class="nav-link body-text" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu bg-dark rounded-0 body-text w-50 dropdown-box" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-white " href="{% url 'products' %}?category=honey">Honey</a>
                        <a class="dropdown-item text-white " href="{% url 'products' %}?category=apparel">Clothing</a>
                        <a class="dropdown-item text-white " href="{% url 'products' %}?category=bee_gear">Beekeeper
                            Gear</a>
                        <a class="dropdown-item text-white " href="{% url 'products' %}?category=bees_wax">Bee-Wax</a>
                        <a class="dropdown-item text-white "
                            href="{% url 'products' %}?category=accessories">Accessories</a>
                        <hr class="w-100 bg-light">
                        <a class="dropdown-item text-white" href="{% url 'products' %}?sort=rating&direction=desc">By
                            Rating</a>
                        <a class="dropdown-item text-white" href="{% url 'products' %}?sort=price&direction=asc">By
                            Price</a>
                        <a class="dropdown-item text-white" href="{% url 'products' %}?sort=category&direction=asc">By
                            Category</a>
                        <a class="dropdown-item text-white" href="{% url 'products' %}">All Items</a>
                    </div>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu body-text rounded-0 bg-dark text-white dropdown-box" aria-labelledby="navbarDropdownMenuLink2">
                        <a href="{% url 'add_product' %}" class="dropdown-item text-white">Products</a> 
                        <a href="{% url 'admin_news' %}" class="dropdown-item text-white">News</a>
                    </div>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link"><i class="fa-solid fa-user"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="{% if grand_total %}text-warning{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div>
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="bg-dark">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <h2 class="footer-head head-text text-white">
                                Contact
                            </h2>
                            <ul class="list-unstyled">
                                <li class="body-text my-2"><i class="fa-solid fa-square-envelope"></i> example@email.com
                                </li>
                                <li class="body-text my-2"><i class="fa-solid fa-square-phone"></i> 086-123-1234</li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-head head-text text-white">
                                Products
                            </h2>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'products' %}?category=honey"
                                        class="py-1 d-block body-text">Honey</a></li>
                                <li><a href="{% url 'products' %}?category=bees_wax"
                                        class="py-1 d-block body-text">Bee-Wax</a></li>
                                <li><a href="{% url 'products' %}?category=bee_gear"
                                        class="py-1 d-block body-text">Beekeeper Gear</a></li>
                                <li><a href="{% url 'products' %}?category=accessories"
                                        class="py-1 d-block body-text">Accessories</a></li>
                                <li><a href="{% url 'products' %}?category=apparel"
                                        class="py-1 d-block body-text">Apparel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row justify-content-end">
                        <div class="col-md-12 col-lg-11 mb-md-0 mb-4 social-seg">
                            <h2 class="footer-head head-text text-white pb-2">
                                Follow Our Socials!
                            </h2>

                            <a href="#" class="socials-icon pr-1"><i class="fa-brands fa-square-facebook"></i></a>
                            <a href="#" class="socials-icon pr-1"><i class="fa-brands fa-square-instagram"></i></a>
                            <a href="#" class="socials-icon pr-1"><i class="fa-brands fa-square-twitter"></i></a>

                            <h2 class="footer-head head-text text-white pt-4 {% if user.is_superuser %} d-none {% endif %}">Subscribe to Our Letter!</h2>
                            <form method="POST" class="subscribe-footer {% if user.is_superuser %} d-none {% endif %}">
                                {% csrf_token %}
                               
                                {{ form_sub|crispy }}
                                
                                <div class="form-group d-flex">
                                    <input type="submit" value="Subscribe" class="form-control btn btn-gold-blk head-text w-100 mr-2">
                                    <a href="{% url 'unsubscribe' %}" class="form-control btn btn-gold-blk head-text w-100 rounded-0">Unsubscribe</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4 border-top">
                <div class="col-md-12 text-center">
                    <img src="{{ MEDIA_URL }}honey-haven-logo.png" alt="" class="logo-footer py-1">
                    <p class="body-text text-white">copyright @ Honey Haven</p>
                </div>
            </div>
        </div>
    </footer>


    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    <script>
        $(document).ready(function () {
            var submitIcon = $('.searchbar-icon');
            var inputArea = $('.searchbar-input');
            var searchBar = $('.searchbar');
            var isExpanded = false;

            submitIcon.click(function () {
                if (isExpanded == false) {
                    searchBar.addClass('searchbar-open');
                    inputArea.focus();
                    isExpanded = true;
                } else {
                    searchBar.removeClass('searchbar-open');
                    inputArea.focusout();
                    isExpanded = false;
                }
            });
        });

        const nav = document.querySelector('.navbar');
    
        window.addEventListener('scroll', () => {
            if (window.scrollY >= 1) {
                nav.classList.remove('navbar-light');
                nav.classList.add('nav-scroll', 'navbar-dark');
            } else if (window.scrollY < 1) {
                nav.classList.remove('nav-scroll', 'navbar-dark');
                nav.classList.add('navbar-light');

            }
        });

        document.querySelector('.navbar-toggler').addEventListener('click', function() {
            if(this.getAttribute('aria-expanded')) {
                nav.classList.remove('navbar-light');
                nav.classList.add('nav-scroll', 'navbar-dark');
            } 
        });
        </script>
    {% endblock %}



</body>

</html>