{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-detail-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card rounded-0 border-dark ">
                    <div class="card-body text-center mb-3">
                        <form action="" method="POST" class="head-text">
                            {% csrf_token %}
                            {{ contact_form|crispy }}
                            <input type="submit" class="btn btn-gold-blk head-text rounded-0 mt-3" value="Get in Contact!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}