{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid nav-calc">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid"
                    style="height: 380px; width: 380px;">
            </a>
            {% else %}
            <a href="">
                <img src="{{ MEDIA_URL }}no-img.png" alt="{{ product.name }}" style="height: 380px; width: 380px;">
            </a>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container">
                <p class="mb-0 head-text">{{ product.name }}</p>
                <p class="lead text-left body-text">€{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted body-text"><i class="fas fa-star mr-1"></i>{{ product.rating}} / 5</small>
                {% else %}
                <small class="text-muted body-text">No Rating</small>
                {% endif %}
                <p class="mt-2 body-text">{{ product.description }}</p>
                <form action="{% url 'add_to_bag' product.id %}" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p class="body-text">Size:</p>
                            <select class="form-control rounded-0 w-50" name="product_size" id="id_product_size">
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3 body-text">
                                Quantity
                            </p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data_item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'products' %}" class="btn rounded-0 mt-5">
                                <span class="icon mt-5">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="body-text">Keep Shopping</span>
                                <input type="submit" class="btn body-text rounded-0 mt5" value="Add to Bag">
                            </a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });
</script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}