{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid nav-calc">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="head-text">Products</h2>
            <hr class="mb-2 w-50">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-1"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid" style="height: 380px; width: 380px;">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}no-img.png" alt="{{ product.name }}" style="height: 380px; width: 380px;">
                        </a>
                        {% endif %}
                        <div class="card-body head-text pb-0">
                            <p>{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white border-0 text-left pt-0 mb-1">
                            <div class="row">
                                <div class="col">
                                    <p class="lead text-left body-text">€{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="tex-muted">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <small class="muted body-text"><i class="fas fa-star mr-1 gold-text"></i> {{ product.rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted body-text">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    const nav = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY >= 20) {
            nav.classList.remove('navbar-light');
            nav.classList.add('nav-scroll', 'navbar-dark');
        } else if (window.scrollY < 20) {
            nav.classList.remove('nav-scroll', 'navbar-dark');
            nav.classList.add('navbar-light');

        }
    });
</script>
{% endblock %}